.link-to-event{
    text-decoration: none;
    color: black;
    cursor: pointer;
    z-index: 9999;
}

.single-event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin-top: 10px;
}

.single-event-header-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
}

.group-event-image{
    display: flex;
    align-items: center;
    height: 125px;
    width: 165px;
    justify-content: center;
    overflow: hidden;
}

.single-event-mid-image{
    object-fit: cover;
}

.single-event-card-mid-container {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.single-event-mid-start-date{
    font-size: small;
    color: rgb(1,130,148);
}

.single-event-header-title{
    margin-top: 5px;
}

.single-event-mid-type{
    margin-top: 5px;
    font-size: small;
    color: gray;
}

.single-event-details-container{
    display: flex;
    font-size: small;
    justify-content: center;
    width: 89%
}