.profile-dropdown.hidden {
    display: none;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar-right {
  display: flex;
  justify-content: space-between;
}

.nav-links-container {
  display: flex; /* Display children in a row */
  flex-direction: row; /* Horizontal alignment */
  align-items: center; /* Align items vertically within the container */
}

.login,
.signup {
  margin-right: 10px; /* Add spacing between the links if needed */
}