.profile-dropdown.hidden {
    display: none;
}

.start-a-new-group {
  padding-right: 15px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid lightgray;
  padding-bottom: 10px;
}

.nav-bar-right-content {
  display: flex;
  justify-content: space-between;
}

.nav-links-container {
  display: flex; /* Display children in a row */
  flex-direction: row; /* Horizontal alignment */
  align-items: center; /* Align items vertically within the container */
}

.login,
.signup {
  margin-right: 10px; /* Add spacing between the links if needed */
}